.steps {
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    border-style: solid;
    border-color: #00a143;
    border-width: 3px;
    border-radius: 40px;
    padding: 1%;
}

.createdStepsList {
    margin:auto
}

.createdStep {
    background-color: #9bf0be;
    margin: 1%;
    border-style: solid;
    border-color: #00a143;
    border-width: 3px;
    border-radius: 40px;
    padding: 1%;
}

.stepNumber{
    color: #165E00;
    font-family: verdana;
    font-weight: bold;
    text-decoration: underline;
}

.stepDescription{
    width: 70%;
    margin: auto;
    text-align: left;
    font-family: verdana;
    margin-top: 1%;
}

.time{
    width:15%;
    padding: 12px 20px;
    box-sizing: border-box;
    height: 50px;
    margin: 8px 0;
}

.detailsTextBox{
    width:80%;
    padding: 12px 20px;
    box-sizing: border-box;
    height: 50px;
    margin: 8px 0;
}

.backArrow {
    float:left;
    margin:10px;
    margin-right:0px;
    color: #7a7a7a;
}

.concurrentSteps{
    display: flex;
    flex-direction: column;
    place-items: center;
}

.header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
