.recipePreview {
    width: 90%;
    text-align: center;
    margin: auto;
    border-style: solid;
    border-color: rgb(0, 161, 67);
    border-width: 3px;
    border-radius: 40px;
    margin-bottom: 10px;
    padding: 1%;
}

.recipeTitle {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 25px;
    letter-spacing: -0.4px;
    word-spacing: -0.2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: Capitalize;
}

a {
    color: #005011;
    text-decoration: none;
  }

.fifty-chars {
    line-height: 1.5em;
    height: 3em;       
    overflow: hidden; 
    text-overflow: ellipsis;
}

.searchBar {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%
}

input[type=text] {
    width:50%;
    padding: 12px 20px;
    box-sizing: border-box;
    height: 50px;
    margin: 8px 0;
   }

.authorAndLikes {
    width: 90%;
    height: 2em;
    margin: auto;
}

.recipeAuthor {
    float: left;
    
}

.likes {
    display: flex;
    float: right;
    font-size: 20px;
}

.myProfile {
    text-align: center;
}